<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Font Awesome -->
	{{ style('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')}}   
	<!-- Ionicons -->
	{{ style('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')}}   
	<!-- Theme style -->
	{{ style('theme/dist/css/adminlte.min.css')}}   

	<!-- Google Font: Source Sans Pro -->
	{{ style('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700')}}   
</head>
<body class="hold-transition login-page">

	@!section('content')

	<!-- jQuery -->
	{{ script('theme/plugins/jquery/jquery.min.js') }}
	<!-- Bootstrap 4 -->
	{{ script('theme/plugins/bootstrap/js/bootstrap.bundle.min.js') }}
	<!-- SlimScroll -->
	{{ script('theme/plugins/slimScroll/jquery.slimscroll.min.js') }}
	<!-- FastClick -->
	{{ script('theme/plugins/fastclick/fastclick.js') }}
	<!-- AdminLTE App -->
	{{ script('theme/dist/js/adminlte.min.js') }}
	<!-- AdminLTE for demo purposes -->
	{{ script('theme/dist/js/demo.js') }}
</body>
</html>
